<div class="alert callout" data-closable id="alert">
  <strong>An error occurred</strong>
  <p id="alert-text"></p>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
