<div class="reveal tiny" id="modal-create-wissle" data-reveal>
  <h1>Create Wissle</h1>
  <form>
    <input type="text" name="text" placeholder="Description" />

    <input type="submit" value="Create Wissle" class="button expanded" />
  </form>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
