<div class="reveal tiny on-top" id="modal-create-wissle" data-reveal>
  <form id="form-wissle" style="height: 100%;">
    <div class="grid-y" style="height: 100%;">
      <div class="cell small-11">
        <h1 class="modal-title">Create a Wissle</h1>
        <p>Creating a Wissle will broadcast this to people in the area with a common profile.</p>
        <p><small class="text-gray">Your current location is <span id="modal-create-wissle-address"></span></small></p>
        <p>
          <input type="text" name="text" id="modal-create-wissle-text" placeholder="Description" required />
        </p>
        <p>
          Assign a category to your Wissle so people can find it more easily.
        </p>
        <p>
          <select id="modal-create-wissle-category" required>
            <option value="Automotive">Automotive</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Business">Business</option>
            <option value="Clothing">Clothing</option>
            <option value="Coffee">Coffee</option>
            <option value="Community">Community</option>
            <option value="Computer">Computer</option>
            <option value="Concert">Concert</option>
            <option value="Dance">Dance</option>
            <option value="Drinks">Drinks</option>
            <option value="Education">Education</option>
            <option value="Electronics">Electronics</option>
            <option value="Engineering">Engineering</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Event">Event</option>
            <option value="Exhibition">Exhibition</option>
            <option value="Fashion">Fashion</option>
            <option value="Festival">Festival</option>
            <option value="Financial">Financial</option>
            <option value="Food">Food</option>
            <option value="Games">Games</option>
            <option value="Halloween">Halloween</option>
            <option value="Internet">Internet</option>
            <option value="Jewelry">Jewelry</option>
            <option value="Karaoke">Karaoke</option>
            <option value="Literature">Literature</option>
            <option value="Meetup">Meetup</option>
            <option value="Movie">Movie</option>
            <option value="Museum">Museum</option>
            <option value="Music">Music</option>
            <option value="Nature">Nature</option>
            <option value="Nightlife">Nightlife</option>
            <option value="Party">Party</option>
            <option value="Pets">Pets</option>
            <option value="Photography">Photography</option>
            <option value="Pizza">Pizza</option>
            <option value="Pool">Pool</option>
            <option value="Religion">Religion</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Science">Science</option>
            <option value="Service">Service</option>
            <option value="Shopping">Shopping</option>
            <option value="Sports">Sports</option>
            <option value="Television">Television</option>
            <option value="Tourism">Tourism</option>
            <option value="Travel">Travel</option>
            <option value="Other">Other</option>
          </select>
        </p>
      </div>
      <div class="cell">
        <input type="submit" value="Create Wissle" class="button expanded" />
      </div>
    </div>
  </form>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
