<div class="reveal tiny on-top" id="modal-show-wissle" data-reveal>
  <div class="grid-y" style="height: 100%;">
    <div class="cell small-11">
      <p>
        <span class="modal-title" id="modal-show-wissle-text"></span><br>
        By <a href="#"><span id="modal-show-wissle-user"></span></a>
      </p>

      <p>
        <small class="text-gray">Near <span id="modal-show-wissle-address"></span></small>
      </p>

      <p>
        <small>Created <span id="modal-show-wissle-timestamp"></span></small>
        <span class="label secondary float-right" id="modal-show-wissle-category"></span>
      </p>
    </div>

    <div class="cell">
      <input type="button" class="button expanded" value="Directions">
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
