<div class="reveal tiny" id="modal-show-wissle" data-reveal>
  <h1 id="modal-show-wissle-text"></h1>
  <p class="lead">by <span id="modal-show-wissle-user"></span></p>

  <p>at <span id="modal-show-wissle-latitude"></span>, <span id="modal-show-wissle-longitude"></span></p>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
