<script>
  if (window.localStorage.getItem('user.uuid') === null)
    window.location.replace('/user');
</script>

<%= render 'partials/modals/wissle/show' %>

<button class="button" onClick="getWissle(1)">Show Wissle</button>

<div id="map"></div>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
