<script>
  if (window.localStorage.getItem('user.uuid') === null)
    window.location.replace('/user');
</script>

<%= render 'partials/modals/wissle/show' %>
<%= render 'partials/modals/wissle/create' %>

<button class="button large button-menu" id="hamburgerIcon" type="button" title="Menu" onclick="toggleMenu()">
  <i class="fa fa-bars"></i>
</button>
<div class="overlay" onclick="toggleMenu()"></div>
<div id="sidebar" class="sidebar">
  <div class="topnav">

    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <div class="userinfo" id="userinfo"></div>

    <div class="userinput" id="userinput">
      <input type="text" placeholder="Username" class="usernameInput" id="usernameInput">
      <input type="text" placeholder="Age" class="ageInput" id="ageInput">
      <i class="fa fa-check" id="check" aria-hidden="true"></i>
      <i class="fa fa-times" id="cancel" aria-hidden="true"></i>
    </div>
    <hr>

    <nav role="navigation">
      <ul>
        <li>
          <a href="/tags">Tags</a>
        </li>
        <li>
          <a href="/wissle">Wissles</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bottomnav">
    <hr>
    <ul>
      <li>
        <a href="">Help and support</a>
      </li>
      <li>
        <a href="/tos">Terms of service</a>
      </li>
    </ul>
  </div>
</div>

<div id="map"></div>

<!-- Create wissle button -->
<button class="button large button-create-wissle" type="button" title="Create Wissle" onclick="showCreateWissle()">
  <!-- Screen readers will see "close" -->
  <span class="show-for-sr">Create Wissle</span>
  <!-- Visual users will see the X, but not the "Close" text -->
  <span aria-hidden="true">
    <i class="fa fa-plus"></i>
  </span>
</button>

<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrZXiqfEJDK66oHoZqqmR8ItDzEsOx5Wo&callback=initMap"></script>
