<script>
  if (window.localStorage.getItem('user.tags') !== null)
    window.location.replace('/map');
</script>

<div class="grid-x grid-padding-x align-middle text-white">
  <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 cell">
    <input type="search" name="search" placeholder="Search.." class="animated-search-form"/>
    <div class='button-group expanded'>
      <a class="button" href="#">Students</a>
      <a class="button" href="#">Hiking</a>
      <a class="button" href="#">Coffee</a>
    </div>
    <div class='button-group expanded margin-bottom-section'>
      <a class="button" href="#">Games</a>
      <a class="button" href="#">Beer</a>
      <a class="button" href="#">Cake</a>
    </div>
    <div class='row grid-x space-between'>
      <p class='small-8 cell inline'>Suggested Tag 1</p>
      <a class="small-4 cell button inline" href="#">Add</a>
    </div>
    <div class='row grid-x space-between'>
      <p class='small-8 cell inline'>Suggested Tag 2</p>
      <a class="small-4 cell button inline" href="#">Add</a>
    </div>
    <div class='row grid-x space-between'>
      <p class='small-8 cell inline'>Suggested Tag 3</p>
      <a class="small-4 cell button inline " href="#">Add</a>
    </div>
    <div class='row grid-x space-between'>
      <p class='small-8 cell inline'>Suggested Tag 4</p>
      <a class="small-4 cell button inline " href="#">Add</a>
    </div>
    <a class="button expanded" href="#">Start Wissling</a>
  </div>
</div>
