<script>
  if (window.localStorage.getItem('user.tags') !== null)
    window.location.replace('/map');
</script>

<div class="grid-x grid-padding-x align-middle text-white">
  <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 cell">
    <div class="ui-widget">
      <label for="tags"></label>
      <input type="search" name="search" placeholder="Search.." class="animated-search-form" id='tags'/>

    </div>

    <div class='button-group expanded'>
      <a class="button clickable tag-button" href="#">Students</a>
      <a class="button clickable tag-button" href="#">Hiking</a>
      <a class="button clickable tag-button" href="#">Coffee</a>
    </div>
    <div class='button-group expanded margin-bottom-section'>
      <a class="button clickable tag-button" href="#">Games</a>
      <a class="button clickable tag-button" href="#">Beer</a>
      <a class="button clickable tag-button" href="#">Cake</a>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='1'>
      <p class='small-8 cell inline '></p>
      <a class="small-4 cell button inline clickable" href="#">Add</a>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='2'>
      <p class='small-8 cell inline'></p>
      <a class="small-4 cell button inline clickable" href="#">Add</a>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='3'>
      <p class='small-8 cell inline'></p>
      <a class="small-4 cell button inline clickable" href="#">Add</a>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='4'>
      <p class='small-8 cell inline'></p>
      <a class="small-4 cell button inline clickable" href="#">Add</a>
    </div>
    <a class="button expanded start_wissle" href="#">Start Wissling</a>
  </div>
</div>
