<script>
  if (window.localStorage.getItem('user.tags') !== null)
    window.location.replace('/map');
</script>

<div class="grid-x grid-padding-x align-middle text-white">
  <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 cell">
    <div class="ui-widget">
      <label for="tags"></label>
      <input type="search" name="search" placeholder="Search.." class="animated-search-form" id='tags'/>

    </div>
    <div class='row grid-x space-between tag-div' tag-id='1'>
      <p class='small-9 cell inline '></p>
      <div class="switch small">
        <input class="switch-input switchclass" id="tinySwitch1" type="checkbox" name="exampleSwitch">
        <label class="switch-paddle" for="tinySwitch1" id='tyyy'></label>
      </div>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='2'>
      <p class='small-9 cell inline'></p>
      <div class="switch small">
        <input class="switch-input switchclass" id="tinySwitch2" type="checkbox" name="exampleSwitch">
        <label class="switch-paddle" for="tinySwitch2"></label>
      </div>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='3'>
      <p class='small-9 cell inline'></p>
      <div class="switch small">
        <input class="switch-input switchclass" id="tinySwitch3" type="checkbox" name="exampleSwitch">
        <label class="switch-paddle" for="tinySwitch3"></label>
      </div>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='4'>
      <p class='small-9 cell inline'></p>
      <div class="switch small">
        <input class="switch-input switchclass" id="tinySwitch4" type="checkbox" name="exampleSwitch">
        <label class="switch-paddle" for="tinySwitch4"></label>
      </div>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='5'>
      <p class='small-9 cell inline'></p>
      <div class="switch small">
        <input class="switch-input switchclass" id="tinySwitch5" type="checkbox" name="exampleSwitch">
        <label class="switch-paddle" for="tinySwitch5"></label>
      </div>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='6'>
      <p class='small-9 cell inline'></p>
      <div class="switch small">
        <input class="switch-input switchclass" id="tinySwitch6" type="checkbox" name="exampleSwitch">
        <label class="switch-paddle" for="tinySwitch6"></label>
      </div>
    </div>
    <div class='row grid-x space-between tag-div' tag-id='7'>
      <p class='small-9 cell inline'></p>
      <div class="switch small">
        <input class="switch-input switchclass" id="tinySwitch7" type="checkbox" name="exampleSwitch">
        <label class="switch-paddle" for="tinySwitch7"></label>
      </div>
    </div>

    <a class="button expanded start_wissle" href="#">Start Wissling</a>
  </div>
</div>
