<script>
  if (window.localStorage.getItem('user.uuid') !== null) {
    window.location.replace('/map');
  }
</script>

<div class="grid-x grid-padding-x grid-user align-middle">
  <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 cell text-center">
    <div class="logo padding-3 margin-top-2 text-center">Wissle</div>
  </div>
  <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 cell">
    <form id="user-form">
      <input type="text" placeholder="Username" />
      <input type="number" placeholder="Age" />
      <small>By creating a profile you agree to the <Link to="/tos">Terms of Service</Link></small>
      <input type="submit" value="Create profile" class="button expanded" />
    </form>
  </div>
</div>
