.animated-search-form[type=search] {
  margin-top: 10%;
  margin-bottom: 15%;
  width: 10rem;
  border: 0.125rem solid #e6e6e6;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
  border-radius: 0;
  background-image: asset-data-url("search_icon.png");
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:focus {
  width: 100%;
}

.inline {
  display: inline-block;
}

.space-between {
  margin-bottom: 5%;
}

.margin-bottom-section {
  margin-bottom: 10%;
}

#ui-id-1{
  list-style: none;
  background-color: white;
  width: 78%;
}

.start_wissle {
  margin-top: 10%;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
