/**
 * index.scss - app stylesheet
 *
 */

@import "variables";

html,
body {
  background-color: $color-primary;
  color: #ffffff;
}

.grid-home {
  height: 100vh;
  padding: 1px 1px 3px 1px;
}

.hamburgerBars {
  position: absolute;
  z-index: 10;
  padding: 0 0 0 10px;
  color: #000000;
  font-size: 2em;
}

/*
.WissleLogo {
  font-family: 'Berkshire Swash';
  font-size: 4em;
}
*/
