/**
 * index.scss - app stylesheet
 *
 */

@import "variables";

html,
body {
  background-color: $color-primary;
  color: #ffffff;
}

.grid-home {
  height: 100vh;
  padding: 1px 1px 3px 1px;
}

.hamburger {
  position: absolute;
  z-index: 10;
  padding: 0 0 0 10px;
}

// HamburgerMenu styling start
.hamburgerMenu-toggle {
  position: absolute;
  font-size: 2em;
  z-index: 5000;
  color: #000000;
  top: 0.2em;
  left: 0.5em;
  transition: all 0.4s ease-in-out;
}

.hamburgerMenu-toggle:hover {
  transition: all 0.4s ease-in-out;
  color: ##212121;
}

.hamburgerMenu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  list-style: none;
  background: #1779ba;
  background-size: cover;
  text-align: center;
  -webkit-transform: translateX(-100%) rotateX(40deg);
          transform: translateX(-100%) rotateX(40deg);
  transition: all 400ms cubic-bezier(1, -0.4, 0.44, 0.985);
}

.hamburgerMenu li {
  font-size: 1.5rem;
}

.hamburgerMenu a {
  display: block;
  color: #fefefe;
  font-weight: bold;
  height: 6.25rem;
  line-height: 6.25rem;
  border-bottom: 1px solid rgba(254, 254, 254, 0.5);
  text-decoration: none;
}

.hamburgerMenu a:hover {
  background-color: rgba(254, 254, 254, 0.6);
  color: #0a0a0a;
}

.hamburgerMenu.is-open {
  top: 0;
  opacity: 1;
  -webkit-transform: perspective(200px) translateX(0) rotateX(0);
          transform: perspective(200px) translateX(0) rotateX(0);
}

.hamburgerMenu.is-open ~ .hamburgerMenu-toggle {
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #000000;
}
// HamburgerMenu styling end


/*
.WissleLogo {
  font-family: 'Berkshire Swash';
  font-size: 4em;
}
*/
