/**
 * index.scss - app stylesheet
 *
 */

@import "variables";

html,
body {
  background-color: $color-primary;
  color: white;
}

.pageDiv {
  background-color: $color-primary;
  width: 100%;
  padding: 0 2px 0 2px;
}

.WissleLogo {
  width: 35%;
  margin: 1em 1em 1em 2px;
  font-family: Berkshire Swash;
}
